.font-big {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #292929;
  font-size: 26px;
  line-height: 40px;
}
.font-slim {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #292929;
  font-size: 26px;
  line-height: 40px;
}
.btn-bg-bluelight { background-color: #00bde8; color: #292929 !important;}
.btn-bg-bluelight:hover { background-color: #00bde8; color: #00bde8 !important;}

.btn-bg-graylight { background-color: #EAEAEA; color: #292929 !important;}

.btn-bg-graylight:hover { background-color: #EAEAEA; color: #00bde8 !important;}


.bg-dark {background-color: #ffffff;}

footer .container span {color: #999999;}
._3RTrQ3IDR23myw-Pih9iTm {display: none;}
